@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: Josefin Sans;
}

main {
    width: 80%;
    /* height: 500px; */
    margin-left: auto;
    margin-right: auto;
}

.d0 {
    width: 100%;
    height: 130px;
    background-color: #000;
    display: flex;
    box-shadow: 0px 0px 15px;
    /* justify-content: center; */
}

.d0 img {
    width: 15%;
}


.d0 a {
    text-decoration: none;
    color: white;
    margin-left: 150px;
    margin-top: 50px;
    font-size: 30px;
}

.d0 a:hover {
    color: #f00;
}

.d1 img {
    width: 30%;
    float: left;
    margin: 15px;
    clear: left;
}
.d1 p {
    font-size: 30px;
}

section {
    width: 100%;
    margin-top: 150px;
    box-shadow: 0px 0px 20px;
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

.h1 {
    font-size: 40px;
    
}

.d2, .d3, .d4, .d5 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 30px;
}

.d2, .d3, .d4, .d5 p {
    color: #fff;
    font-size: 25px;
}

.d2 a {
    text-decoration: none;
    color: white;
    font-weight: 700;

}

.d2 a:hover {
    color: red;
}


.d2 img {
    width: 30%;
    float: right;
    margin: 10px;
    margin-top: 40px;
    border: 3px solid #fff;
}

.d3 img {
    width: 30%;
    float: left;
    margin: 10px;
    margin-right: 20px;
    margin-top: 50px;
    border: 3px solid #fff;
}

.d4 img {
    width: 30%;
    float: right;
    margin-top: 30px;
    border: 3px solid #fff;
}
.d5 img {
    width: 32%;
    float: left;
    margin: 10px;
    margin-top: 40px;
    margin-right: 20px;
    border: 3px solid #fff;
}

.d6 {
    display: flex;
    justify-content: center;
}
.a1 {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    margin: 30px;
}

.a1:hover {
    color: #f00;
}

@media only screen and (max-width:1600px){
    
    .d0 img {
        width:30%;
    }
 
    .d1 img {
    width: 50%;
  }

  .d2 img {
    width: 50%;
  }

  .d3 img {
    width: 50%;
  }

  .d4 img {
    width: 50%;
  }

  .d5 img {
    width: 50%;
  }
}

@media only screen and (max-width:600px){
    .d0 img {
        width: 30%;
        height: 50%;
        margin: 30px;
    }

    .d0 a {
        margin-left: 50px;
        font-size: 25px;
    }

    main {
        width: 90%;
    }

    section {
        margin-top: 50px ;
    }

    .d1 p {
        font-size: 20px;
    }
    
    .d2 , .d3 , .d4, .d5 p {
        font-size: 20px;
    }

    .d2 , .d3 , .d4, .d5 {
        width: 95%;
    }
     
    .d4 img {
        margin-right: 20px;
    }

    .d6 a {
        font-size: 30px;
    }
}