@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body {
    margin: 0;
    padding: 0;
}

.d0 {
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
}

.d1 {
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    margin: 50px;
    border-radius: 50%;
    border: 30px solid black;
    position: relative;
    display: flex;
    animation: 1.5s roll linear infinite;
}

.d1::before {
    width: 110%;
    height: 110%;
    content: '';
    position: absolute;
    left: -17px;
    top: -18px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-radius: 50%; 
}


@keyframes roll {
    100%{
        transform: rotate(360deg);
    }
}

.d2 {
    position: relative;
    left: 70px;
    width: 10px;
    height: 150px;
    background-color: grey;
}

.d3 {
    position: relative;
    left: 60px;
    width: 10px;
    height: 150px;
    background-color: grey;
    transform: rotate(90deg);
}

.d4 {
    position: relative;
    left: 50px;
    width: 10px;
    height: 150px;
    background-color: grey;
    transform: rotate(45deg);
}

.d5 {
    position: relative;
    left: 40px;
    width: 10px;
    height: 150px;
    background-color: grey;
    transform: rotate(-45deg);
}

.d6 {
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
}

.d7 {
    width: 150px;
    height: 150px;
    margin: 50px;
    border: 30px solid transparent;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
}

.d7 a {
    font-size: 40px;
    font-weight: 900;
    text-decoration: none;
    font-family: Josefin Sans;
    color: rgb(0, 0, 0);
}

.d7:nth-child(2) a {
    font-size: 22px;
    margin-left: 10px;
}

.d7:nth-child(3) a {
    font-size: 35px;
    margin-left: 25px;
}
.d7 a:hover {
    color: red;
}

@media only screen and (max-width:600px) {
    body {
        transform: scale(.8);
    }

    .d1 {
        margin: 25px;
    }

    .d7 {
        margin: 25px;
    }
}